.va {
  display: flex;
  align-items: center;
}

#joke-button {
  background-color: black;
  color: white;
  border: none;
  padding: 6px;
  height: 20px;
  border-radius: 20%;
  width: 60px;
  display: inline;
}
#joke-button::after,
#joke-button:focus,
#joke-button:active {
  border: none;
}

.hero,
.cta {
  background: url(./pictures/background.jpg),
    linear-gradient(52deg, #42475c 0%, #20222e 71%);
}

.cta {
  height: 500px;
  border-top: 10px solid turquoise;
}

footer {
  color: white;
  background: rgb(14, 14, 14) !important;
  display: flex;
  justify-content: center;
}

footer strong {
  color: turquoise;
}

footer a {
  color: turquoise;
}

.title {
  color: white;
  font-weight: 800;
  font-size: 4rem;
  font-family: "Nunito Sans", sans-serif;
  text-shadow: 1px 1px 1px #000, 3px 3px 5px rgb(0, 0, 3);
}

.subtitle {
  color: white;
  font-size: 1.2rem;
  text-shadow: 1px 1px 1px #000, 3px 3px 5px rgb(0, 0, 3);
}

hr.content-divider {
  max-width: 75px;
  height: 5px;
}

#parallax-1 {
  background: url(./pictures/background2.jpg);
  background-attachment: fixed;
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
  border-top: 10px solid coral;
}

#parallax-1 hr {
  background: coral;
}

#parallax-2 {
  background: url(./pictures/background3.jpg);
  background-attachment: fixed;
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
  border-top: 10px solid yellow;
}

#parallax-2 hr {
  background: yellow;
}

#parallax-3 {
  background: url(./pictures/Coctail.jpg);
  background-attachment: fixed;
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
  border-top: 10px solid hotpink;
}

#parallax-3 hr {
  background: hotpink;
}

.label {
  color: white;
}

input {
  background: transparent !important;
  border: 1px solid turquoise !important;
  color: white !important;
}

input::placeholder {
  color: white !important;
}

span#joke-span {
  color: white;
}
#joke-span {
  color: white !important;
}

#mixology-span {
  font-size: 30px;
  font-weight: bolder;
  margin-bottom: 10px;
}

.ingredients {
  font-size: 15px;
  font-weight: normal;
  text-decoration: none;
}

.mod-head {
  background-color: #48c774;
}

.mod-title {
  color: snow;
}

/* h3 {
  text-decoration: underline;
} */

#ingHeader {
  margin-top: 5px;
  margin-bottom: 5px;
  font-weight: bold;
  font-size: 20px;
  /* text-decoration: underline; */
} 

#instructionsHeader {
  margin-top: 5px;
  margin-bottom: 5px;
  font-weight: bold;
  font-size: 20px;
  /* text-decoration: underline; */
} 

#instructionData {
  font-size: 15px;
  font-weight: normal;
  text-decoration: none ;
}
#ingredient-input {
  background-color: snow;
}

.favoriteData {
  background-color: rgb(194, 247, 214);
}

.favoriteData {
  font-size: 40px;
  font-weight: bolder;
  padding-left: 10px;
}

.display-none {
  display: none;
}

#learn-more {
  padding-left: 15px;
  padding-right: 15px;
}

h2 {
  font-size: 30px;
  font-weight: bolder;
}